header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #12363f; */
  /* border-bottom: 1px solid #535759; */
  font-weight: 400;
  height: 4.4em;
  padding: 1em 10em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial, sans-serif;
}

.dropdown-header {
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.dropdown-selected {
    margin-left: 5px;
    color: #3498db;
}

.dropdown-arrow {
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2c3e50;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    padding: 10px;
    color: #3498db;
    cursor: pointer;
}
.dropdown-item.selected {
    color:white;
}

.dropdown-item:hover {
    background-color: #34495e;
}

.dd-toggle {
    border-color: currentcolor currentcolor #0000 #0000;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: .4em;
    transform: rotate(135deg) translate(.16em, -.16em);
    transform-origin: top right;
    transition: transform .2s;
    width: .4em;
    color:#3498db;
}

.dd-toggle.visible {
    transform: rotate(135deg) scale(-1) translate(.08em, -.08em);
}
