.add-account-container-content-close {
  position: absolute;
  right: 6px;
  top: 8px;
  cursor: pointer;
}

.add-account-container-content-close-light {
  position: absolute;
  right: 6px;
  top: 8px;
  cursor: pointer;
}

.add-account-container-content-button-disabled::before {
  background-color: #7dc7db;
}
