.dimmed {
    color: #999;
    font-size: 20px;
}

.account-address {
    white-space: nowrap;
}

.account-address.plain * {
    font: inherit;
    white-space: normal;
}

.account-address .account-key {
    white-space: normal;
    word-break: break-word;
    font-size: 22px;
}

.account-address {
    white-space: nowrap;
}

